.barra-nav {
    background-color: orchid;
    width: auto;
    height: 50px;
    word-spacing: 55px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.barra-nav>a {
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.barra-nav>a:hover {
    background-color: blue;
    border-radius: 20px;
    padding: 15px;
}